/* .list-group-item {background-color: transparent} */

.list-group-item.active {
    color: rgb(255, 255, 0)!important;
}

footer {
    background-color:#faa749!important;
}
.list-group-item {
    color: #333;
    background-color: transparent;
    border: none;
    display: inline-block
}

.list-group-item:hover {

    color: rgba(255, 255, 255, 0.7);
}

.list-group-item-action {
    width: auto;
}

