<footer class="p-3 bg-dark text-white-50">
  <h5 class="text-white text-md-center text-lg-left">Sitemap</h5>
    <div class="row">
      
      <ul class="list-group col-12 col-md-4 col-lg-3 col-xl-4 navbar-nav">
          <li *ngFor="let aufzahlung of navigation">
              <a class="list-group-item list-group-item-action pl-3" routerLink="{{aufzahlung.ziel}}">
                  <span *ngIf="changeLanguage">{{aufzahlung.navi}}</span>
                  <span *ngIf="!changeLanguage">{{aufzahlung.navi_deutsch}}</span>
              </a>
          </li>
      </ul>

      <ul class="list-group col-12 col-md-4 col-lg-3 col-xl-4 navbar-nav text-md-center text-lg-left">
          <li *ngFor="let aufzahlung of sitemap">
              <a href="#" class="list-group-item list-group-item-action disabled pl-3">
                  <span *ngIf="changeLanguage">{{aufzahlung.site}}</span>
                  <span *ngIf="!changeLanguage">{{aufzahlung.site_de}}</span>
              </a>
          </li>
      </ul>

      <ul class="list-group col-12 col-md-4 col-lg-3 col-xl-4 navbar-nav text-md-right text-lg-left">
          <li *ngFor="let aufzahlung of law">
              <a href="#" class="list-group-item list-group-item-action pl-3">
                  <span *ngIf="changeLanguage" (click)="openModal(template, modalContent)">{{aufzahlung.rechtliches}}</span>
                  <span *ngIf="!changeLanguage">{{aufzahlung.rechtliches_de}}</span>
              </a>
          </li>
      </ul>



  </div>

  <button type="button" class="btn btn-primary">Open modal</button>
<br>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--app-my-datenschutz></app-my-datenschutz-->
    <app-my-datenschutzdeutsch></app-my-datenschutzdeutsch>
  </div>
</ng-template>

<hr>

  <div class="container text-center">
    <small>Copyright &copy; Sebastian Sawicz</small>
  </div>
</footer>