<footer class="p-3 bg-dark text-white-50">
  <h5 class="text-white">Sitemap</h5>
    <div class="row">

      
    <!--ul class="navbar-nav mr-auto">
        <li *ngFor="let aufzahlung of navigation" class="nav-item">
          <a class="nav-link pl-0" routerLinkActive="active" routerLink="{{aufzahlung.ziel}}">
            <span *ngIf="changeLanguage">{{aufzahlung.navi}}</span>
            <span *ngIf="!changeLanguage">{{aufzahlung.navi_deutsch}}</span>
          </a>
        </li>
      </ul>

      -->

      
      <ul class="list-group col-2 navbar-nav pl-3">
          <li *ngFor="let aufzahlung of navigation">
              <a class="list-group-item list-group-item-action" routerLink="{{aufzahlung.ziel}}">
                  <span *ngIf="changeLanguage">{{aufzahlung.navi}}</span>
                  <span *ngIf="!changeLanguage">{{aufzahlung.navi_deutsch}}</span>
              </a>
          </li>
      </ul>

      <ul class="list-group col-2 navbar-nav pl-3">
          <li *ngFor="let aufzahlung of sitemap">
              <a href="#" class="list-group-item list-group-item-action disable">
                  <span *ngIf="changeLanguage">{{aufzahlung.site}}</span>
                  <span *ngIf="!changeLanguage">{{aufzahlung.site_de}}</span>
              </a>
          </li>
      </ul>



  </div>




  <div class="container text-center">
    <small>Copyright &copy; Sebastian Sawicz</small>
  </div>
</footer>