<section>
  <h1 class="d-inline px-3 px-lg-1">
    <span @fadeIn *ngIf="changeLanguage">HELLO.</span><span @fadeIn *ngIf="!changeLanguage">HALLO.</span>
  </h1>    
  <h1 class="px-3 px-lg-1 text-lg-right">
    <span @fadeIn *ngIf="changeLanguage">I'M<br>A WEBDESIGNER</span>
    <span @fadeIn *ngIf="!changeLanguage">ICH BIN<br>WEBDESIGNER</span>
  </h1>
  <h2 class="px-3 px-lg-1 text-lg-right">
    <span @fadeIn *ngIf="changeLanguage">AND FRONTEND DEVELOPER</span>
    <span @fadeIn *ngIf="!changeLanguage">UND FRONTEND-ENTWICKLER</span>
  </h2>

  <div class="row my-4 mx-0">
    <div class="col-12" style="
    margin-right: 0px;
    margin-left: 0px;
">
        <h3> 
            <span @fadeIn *ngIf="changeLanguage">I'm a multi-talented human.
                I'm also a maker and thinker with over 15 years of experience in front-end development, UX/UI design and vector illustration.</span>
                <span @fadeIn *ngIf="! changeLanguage">Mein Name ist Sebastian Sawicz. Ich arbeite seit über 15 Jahren leidenschaftlich 
                  an digitalen Projekten visueller Wahrnehmung und Information. 
                  Seit 2012 bin ich verstärkt in Disziplinen der Frontend Entwicklung und des UX/UI Designs zuhause.
                  Gerne produziere ich auch für Sie die passende Webpräsenz, Onlineshop für Ihre Produkte oder die App für Ihre Dienstleistung.
                 <!-- Online-Werbemittel in Form von interaktiven Bannern, CSS-Teaser, Landigpages und interaktive Spiele für das Lächeln Ihrer Kunden.
                    Natürlich ist alles Resposive und auf allen Endgeräten technisch perfekt.
                  ein erfahrener, leidenschaftlicher und pragmatischer Webdesigner.
                   Seit 2012 bin ich verstärkt in Disziplinen der Frontend Entwicklung und des UX/UI Designs zuhause.
                  Seit 2012 sind die Disziplinen der Frontend Entwicklung und des UX/UI Designs verstärkt mein Zuhause.-->
                </span>
        </h3>
    </div>
  </div>

  <div class="row mx-0">
      <div class="col-4 px-0"><img class="img-fluid" src="../../../assets/pics/website_laptop.jpg"/></div>
      <div class="col-4 px-0"><img class="img-fluid" src="../../../assets/pics/frontend_developer.jpg"/></div>
      <div class="col-4 px-0"><img class="img-fluid" src="../../../assets/pics/ux_design.jpg"/></div>
  </div>

  <div class="row my-4 mx-0">
      <div class="col-12">
          <h3> 
              <span @fadeIn *ngIf="! changeLanguage">Als Freelancer und Teamplayer namhafter Digital Agenturen kann ich sicherlich auch zum Erfolg Ihrer Projektarbeit einen wichtigen Teil beitragen.   
                  Gerne lege ich meine Hand auch an Online-Werbemitteln in Form von interaktiven Bannern, CSS-Teasern, Landigpages und interaktive Spielen an.
                  Natürlich ist alles Resposive und auf allen Endgeräten technisch perfekt.
                    
                  <!--   Mein Service ist einfach: modern, übersichtlich und technisch perfekt.  auf allen Endgeräten.
                      symbiose 
                      Ich arbeite mit modernen Content Management Systemen wie WordPress, mit denen Sie Ihre Seite eigenständig und schnell bearbeiten können. -->
                  </span>
          </h3>
      </div>
    </div>

</section>

