<section>
  <h1 class="d-inline px-3 px-lg-1">
    <span @fadeIn *ngIf="changeLanguage">HELLO.</span><span @fadeIn *ngIf="!changeLanguage">HALLO.</span>
  </h1>    
  <h1 class="px-3 px-lg-1 text-lg-right">
    <span @fadeIn *ngIf="changeLanguage">I'M</span><span @fadeIn *ngIf="!changeLanguage">ICH BIN</span><br><span @fadeIn>SEBASTIAN<br>SAWICZ,</span>
  </h1>

  <div class="row my-4">
    <div class="col-12">
        <h2 class="px-3 px-md-3"> 
            <span @fadeIn *ngIf="changeLanguage">I'm a multi-talented Web Designer.
                I'm also a maker and thinker with over 15 years of experience in front-end development, UX/UI design and vector illustration.</span>
                <span @fadeIn *ngIf="! changeLanguage">ein erfahrener, leidenschaftlicher und pragmatischer Webdesigner.
                  Seit 2012 bin ich verstärkt in Disziplinen der Frontend Entwicklung und des UX/UI Designs zuhause.
                  <!-- Seit 2012 sind die Disziplinen der Frontend Entwicklung und des UX/UI Designs verstärkt mein Zuhause.-->
                </span>
        </h2>
    </div>
  </div>

  <div class="row">
      <div class="col-4 px-0"><img class="img-fluid" src="../../../assets/pics/website_laptop.jpg"/></div>
      <div class="col-4 px-0"><img class="img-fluid" src="../../../assets/pics/frontend_developer.jpg"/></div>
      <div class="col-4 px-0"><img class="img-fluid" src="../../../assets/pics/ux_design.jpg"/></div>
  </div>

  <div class="row my-4">
      <div class="col-12">
          <h2 class="col-12 px-3 px-md-3"> 
              <span @fadeIn *ngIf="! changeLanguage">Für Ihren Auftrag biete ich Ihnen meine Erfahrung aus Projekten der Firmenpräsentation, E-Commerce/Onlineshop
                    sowie Finanzsektor an.<br><br>
                    Gerne produziere ich für Sie auch Online-Werbemittel in Form von interaktiven Bannern, Teaser, Landigpages und interaktive Spiele für das Lächeln Ihrer Kunden.
                    Natürlich ist alles Resposive und auf allen Endgeräten technisch perfekt.
                    
                    <!-- Mein Service ist einfach: modern, übersichtlich und technisch perfekt.  auf allen Endgeräten.
                      symbiose 
                      Ich arbeite mit modernen Content Management Systemen wie WordPress, mit denen Sie Ihre Seite eigenständig und schnell bearbeiten können. -->
                  </span>
          </h2>
      </div>
    </div>

</section>

