<section>
  <h1 class="d-inline pl-2 pl-lg-0">
    <span @fadeIn *ngIf="changeLanguage">HELLO.</span><span @fadeIn *ngIf="!changeLanguage">HALLO.</span>
  </h1>    
  <h1 class="pl-2 text-lg-right">
    <span @fadeIn *ngIf="changeLanguage">I'M</span><span @fadeIn *ngIf="!changeLanguage">ICH BIN</span><br><span @fadeIn>SEBASTIAN<br>SAWICZ</span>
  </h1>

  <div class="row my-4">
    <div class="col-12">
        <h2 class="pl-1 pl-md-3"> 
            <span @fadeIn *ngIf="changeLanguage">I'm a multi-talented Web Designer.
                I'm also a maker and thinker with over 15 years of experience in front-end development, UX/UI design and vector illustration.</span>
                <span @fadeIn *ngIf="! changeLanguage">ein erfahrener, pragmatischer und styleverliebter Webdesigner.
                  Seit 2012 sind verstärkt die Disziplinen der Frontend Entwicklung und UX/UI des Designs mein Zuhause.
                </span>
        </h2>
    </div>
    
    <div class="col-12">
        <img class="img-fluid" src="../../../assets/pics/ich-dev3.png"/>
    </div>
  </div>

</section>

