<section style="margin-top: 1em; margin-bottom: 1em;">
    <h1  class="mx-2">
        <span *ngIf="changeLanguage" @fadeIn >PROJECTS.</span>
        <span *ngIf="!changeLanguage" @fadeIn >PROJEKTE.</span>
    </h1>
    <h1  class="text-right mx-2">
        <span *ngIf="changeLanguage" @fadeIn >ALSO TEAM</span>
        <span *ngIf="!changeLanguage" @fadeIn >AUCH IM TEAM</span>
    </h1>

    <div class="row px-4 my-5">
        
        <div class="col-md-3">
            <div class="card"
                tabindex="0" type="button"
                [popover]="deutscheBiografie"
                popoverTitle="Frontend Development"
                placement="right"                
                [outsideClick]="true"
                >
                <ng-template #deutscheBiografie><div [innerHtml]="htmlOne"></div></ng-template>
                <h5 class="card-header"><span @fadeIn *ngIf="changeLanguage">Content Website</span>
                  <span @fadeIn *ngIf="!changeLanguage">Content Website</span></h5>
                <div class="card-body">
                  <img class="img-fluid" src="../../../assets/pics/deutsche_biografie.png">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card"
              tabindex="0" type="button"
              [popover]="onePager"
              popoverTitle="Frontend Development"
              placement="right"              
              [outsideClick]="true"
              >
              <ng-template #onePager><div [innerHtml]="htmlTwo" ></div></ng-template>

                <h5 class="card-header"><span @fadeIn *ngIf="changeLanguage">Corporate Onepager</span>
                  <span @fadeIn *ngIf="!changeLanguage">Corporate Onepager</span></h5>
                <div class="card-body">
                  <img class="img-fluid" src="../../../assets/pics/project_2..png">
                </div>


            </div>
        </div>        
        <!--div class="col-md-3">
            <div class="card">
                <h5 class="card-header"><span @fadeIn *ngIf="changeLanguage">Style Guide</span>
                  <span @fadeIn *ngIf="!changeLanguage">Freue mich von Ihnen zu hören :)</span></h5>
                <div class="card-body">
                  <img class="img-fluid" src="../../../assets/pics/deutsche_biografie.png">
                </div>
            </div>
        </div-->

        
        
        <div class="col-md-1 text-center">
            <p>HTML<br><i class="fab fa-html5"></i></p>
            <p>CSS<br><i class="fab fa-css3"></i></p> 
            <img class="w-75 mb-4 mt-2" style="opacity: 0.5" src="../../../assets/pics/logo-jquery_2x.png">
            <p>Angular<br><i class="fab fa-angular mt-1 "></i></p>
        </div>
        <div class="col-md-1 text-center">
            <p><i class="fab fa-bootstrap"></i><br>Bootstrap</p>
            <p><i class="fab fa-github"></i><br>GitHub</p>
            <p class="position-relative"><i class="fas fa-users-cog"></i><br>UX Design</p>
            <p><i class="fab fa-wordpress"></i><br>Wordpress</p>
        </div>
    </div>
</section>




