<section style="margin-top: 1em; margin-bottom: 1em;">
    <h1  class="text-right mx-2">
        <span *ngIf="changeLanguage" @fadeIn >PROJECT</span>
        <span *ngIf="!changeLanguage" @fadeIn >PROJEKT</span>
    </h1>

    <div class="row px-4 my-5">
        
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header"><span @fadeIn *ngIf="changeLanguage">Get in Touch</span>
                  <span @fadeIn *ngIf="!changeLanguage">Freue mich von Ihnen zu hören :)</span></h5>
                <div class="card-body">
                  <img class="img-fluid" src="../../../assets/pics/deutsche_biografie.png">
                </div>
            </div>
        </div>

        

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header"><span @fadeIn *ngIf="changeLanguage">Get in Touch</span>
                  <span @fadeIn *ngIf="!changeLanguage">Freue mich von Ihnen zu hören :)</span></h5>
                <div class="card-body">
                  <img class="img-fluid" src="../../../assets/pics/project_2..png">
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header"><span @fadeIn *ngIf="changeLanguage">Get in Touch</span>
                  <span @fadeIn *ngIf="!changeLanguage">Freue mich von Ihnen zu hören :)</span></h5>
                <div class="card-body">
                  <img class="img-fluid" src="../../../assets/pics/deutsche_biografie.png">
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <img class="img-fluid" src="../../../assets/pics/HTML5_Logo_256.png">
            <img class="img-fluid" src="../../../assets/pics/icons8-bootstrap-240.png">
            <img class="img-fluid" src="../../../assets/pics/GitHub-Mark-Light-120px-plus.png">
          </div>
    </div>
</section>




