/* global */

.text-secondary {
    color: #333!important
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
h1 {line-height: 85%;}
h2 {margin-top: -1vh!important}

}

h1 {font-size:12vw; font-weight: bold;}
h2 {font-size:4.6vw; font-weight: bold; color:#676880}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {   
h2 {font-size:7.4vw;}
}

body {
    background-color: #333; color: rgb(250, 167, 73);
    overflow-x: hidden;
}

.bg-light {
    background-color: #333!important;
}



