/* global */

body {
    background-color: #333; color: rgb(250, 167, 73);
    overflow-x: hidden;
}

.bg-light {
    background-color: #333!important;
}

h1 {font-size:17vw; line-height: 85%; font-weight: bold;}
h2 {font-size:8vw; line-height: 115%; margin-top: -1vh!important}


