<div id="shadow3"></div>
<div id="teaser" class="position-absolute">
  <div id="teaser-word" class="text-white">made with &nbsp;&nbsp;<img class="middle"  alt="made width Angular" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"></div>
</div>


<nav class="navbar navbar-expand-lg navbar-light">
  
  <button class="navbar-toggler custom-toggler pl-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let aufzahlung of navigation" class="nav-item">
        <a class="nav-link pl-0 mr-3" routerLinkActive="active" routerLink="{{aufzahlung.ziel}}">
          <span *ngIf="changeLanguage">{{aufzahlung.navi}}</span>
          <span *ngIf="!changeLanguage">{{aufzahlung.navi_deutsch}}</span>
        </a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pl-0" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe pl-0"></i>
            <span *ngIf="changeLanguage">en</span>
            <span *ngIf="!changeLanguage">de</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="nextCount()">english</a>
            <a class="dropdown-item" (click)="nextCount()">deutsch</a>
          </div>
        </li>
    </ul>
      
  </div>
</nav>

