<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let aufzahlung of navigation" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="{{aufzahlung.ziel}}">
          <span *ngIf="changeLanguage">{{aufzahlung.navi}}</span>
          <span *ngIf="!changeLanguage">{{aufzahlung.navi_deutsch}}</span>
        </a>
      </li>
    </ul>    
      
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span *ngIf="changeLanguage">English</span>
        <span *ngIf="!changeLanguage">Deutsch</span></a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" (click)="changeLanguage=true">English</a>
        <a class="dropdown-item" (click)="changeLanguage=false">Deutsch</a>
      </div>
  </div>
</nav>